/*
 * YOU MUST CONFIGURE THE SETTINGS BELOW!
 */
var userInfo = {
	users: {
		/* 'displayName' is merely for appearance sake, you still need to fill in your username in the "YOUR_USERNAME" or "YOUR_OTHER_USERNAME" area (optional).
		 * 'colors > path' will be used to color the bot's path in the map (mandatory).
		 * 'colors > primary' will be used as the primary color for buttons in the bot menu and experience bar in the trainer info submenu (mandatory).
		 * 'colors > secondary' will be used as the secondary color for buttons in the bot menu and experience bar in the trainer info submenu (mandatory).
		 * 'icon' is the path to the trainer icon which will be used as the bot's marker in the map (mandatory).
		 * 'focus' will define whether the bot should be focused in the first load (optional, if there is only 1 user this will not work when userZoom and/or userFollow are enabled).
		 * 'prioritizeLocationData' will define whether the Web Viewer should prioritize location data from the particular bot if you have more than 1 bot (optional).
		 */
		"YOUR_USERNAME": {
			//displayName: "YOUR_DISPLAYNAME",
			colors: {
				botPath: "#2471a3",
				primary: "#2471a3",
				secondary: "#a9cce3"
			},
			icon: {
				path: "image/trainer/pokeball.png",
				width: 36,
				height: 36
			},
			focus: true,
			prioritizeLocationData: true
		},
		/*"YOUR_OTHER_USERNAME": {
			//displayName: "YOUR_OTHER_DISPLAYNAME",
			colors: {
				botPath: "#a93226",
				primary: "#a93226",
				secondary: "#e6b0aa"
			},
			icon: {
				path: "image/trainer/m46.png",
				width: -1,
				height: -1
			}
		},
		"YOUR_OTHER_USERNAME": {
			//displayName: "YOUR_OTHER_DISPLAYNAME",
			colors: {
				botPath: "#884eA0",
				primary: "#884eA0",
				secondary: "#d7bde2"
			},
			icon: {
				path: "image/trainer/f87.png",
				width: -1,
				height: -1
			}
		},*/
	},

	collapseBotMenu: false, // Set whether to collapse bots menu on load.
	userZoom: false, // Set whether to always zoom into the user with the 'zoom' level set below if there's only 1 user.
	zoom: 16, // Zoom level for 'userZoom' and 'users > focus' settings.
	userFollow: false, // Set whether to always follow the user if there's only 1 user.
	botPath: true, // Set whether to show bots path on load.

	/* Available styles: maps, satellite, nolabels, light2, dark, pokemongo, light2_nolabels, dark_nolabels, pokemongo_nolabels, chrischi- (Chrisci-'s Pokemon Go style).
	 * This setting is changeable within the Web Viewer through the Settings menu. Once you change the map from there, your preference will be stored into your browser's cookies.
	 * After that, the Web Viewer will always use the cookie and ignore whatever setting you set below.
	 * NOTE: The Web Viewer will NEVER set a cookie into your browser if you don't change the map through the Settings menu. */
	defaultMapStyle: "pokemongo",

	// IMPORTANT: You must provide your own Google Maps API key. You can get one from here: https://developers.google.com/maps/documentation/javascript/get-api-key.
	gMapsAPIKey: "YOUR_API_KEY_HERE"
};