// MUST CONFIGURE THE USER ARRAY AND GOOGLE MAPS API KEY.
// YOU CAN GET A KEY HERE: https://developers.google.com/maps/documentation/javascript/get-api-key
var userInfo = {
	users: {
        /*
         * 'color' will be used to color the bot path in the map (mandatory)
         * 'icon' is the path to the trainer icon (mandatory)
         * 'focus' will define whether the map should focus this user in the first load (will only be used when there are more than 1 user, optional)
         */
        "YOUR_USERNAME": { color: "#00f", icon: "image/trainer/pokeball.png", focus: true },
        // "YOUR_OTHER_USERNAME": { color: "#f00", icon: "image/trainer/m46.png" },
        // "YOUR_OTHER_USERNAME": { color: "#0f0", icon: "image/trainer/f87.png" },
    },
	userZoom: true,
	zoom: 16,
	userFollow: true,
    botPath: true,
	gMapsAPIKey: "YOUR_API_KEY_HERE"
};